*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: azure;
    align-content: center;
    justify-content: center;  
    border: 2px solid ;
    
}

main{
    
}

.Caixa{
    margin: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 5px 5px 12px 0px rgba(0, 81, 122, 1);
}

.botao {
    font-family: georgia;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 1px 1px 1px #BEE2F9;
    background-color: rgb(227, 249, 255);
    padding: 4px 4px;
    border-radius: 7px;
    border: 2px solid #000000;

  }

.botao:hover {
    color: black !important;
    background: #a6cff7;
    background: linear-gradient(to top, #d4e9fc, #85d0ff);
  }



