@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
}
body {
    width: 100%;
    height: 100vh;
    padding: 1cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    color: white
    

}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

form {
    background-color: black;

    max-width: 500px;
    height: 700px;
    padding: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    align-items: center;
    justify-content: center;
}



.entrar-conta {
        color: black;
        height: 20px;
        font-weight: 700px;
        justify-content: center;
        align-self: center;
}

a {
    color: white;
}

a:hover {
    color: blue;
}
